@import '../../assets/styles/_config.scss';
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.startup {
    max-width: 38rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
}

h1 {
    padding-top: 175px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.733);
    text-shadow: 1px 1px #ccc;
}

h4 {
  color: #385b7eb6;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

$particleSize: 10vmin;
$animationDuration: 6s;
$amount: 20;

.startup span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #385b7e,
    #5ab8e4,
    #acffcc
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(50) * 0.5%;
      left: random(50) * 0.3%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }

}
.startup div {
    margin: 1rem;
}

.images {
    padding: 5px;
    align-items: center;
    justify-content:space-evenly;
    border:1px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

img {
    width: calc(45% + .49px);
    opacity: 0.5;
    border-radius: 20px;
    padding: 15px;
    z-index: 1000;
    vertical-align:middle;
}

img:hover {
        position:relative;
        opacity: 0.9;
        transform: scale(1.5);
        border-radius: 20px;
        z-index: 1;
}

p {
    display: inline-block;
  }
