@import '/src/assets/styles/_config.scss';

.app {
    font-family: $item-font-family;
    max-width: 38rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app > * {
    flex: 1 1 auto;
}