@import '/src/assets/styles/_config.scss';

.content {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb $scrollbar-track;
    -webkit-overflow-scrolling: touch;
    background-image: linear-gradient( 109.6deg, rgba(97, 150, 230,0.1) 25%, rgba(97, 150, 230, 0.01) 91.1% );
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}