@import '/src/assets/styles/_config.scss';

.content {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb $scrollbar-track;
    -webkit-overflow-scrolling: touch;
    background: url("~/src/assets/images/cansma.png") no-repeat center, linear-gradient( 105deg, rgba(97, 150, 230,0.1) 30%, rgba(97, 150, 230, 0.01) 91.1% );
    border-radius: 20px;
    background-position: 40% 50%;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}