@import '../../assets/styles/_config.scss';

.settings {
     padding: $container-padding;
}

.settings h3 {
    margin-top: 0.5rem;
    color: rgba(89, 128, 167, 0.829);
}

.settings_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $item-border;
}

.settings_user {
    display: flex;
    align-items: center;
}

.settings_user img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem;
}

.settings_types {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.settings_types > div {
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.settings_types > div:nth-child(odd) {
    background-color: rgba(138, 136, 136, 0.08);
}

.settings_types select {
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: $form-input-fontsize;
    outline: none;
    background-color: rgba(138, 136, 136, 0.062);
}

.typeform {
    display: flex;
    margin-top: 0.5rem;
}

.typeform input {
    flex: 1 1 auto;
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: 1em;
    outline: none;
}

.type_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $item-border;
    margin-top: 2.5rem;
    color: rgba(89, 128, 167, 0.829);
}

.delete {
    margin-top: 0;
}

.icons img {
    position: relative;
    height: 45px;
    width: 160px;
    border-radius: 25px;
    margin-left: 365px;
}

.icons img:hover {
    position:relative;
    opacity: 0.9;
    transform: scale(1.2);
    border-radius: 25px;
    z-index: 1;
}

.text_icons {
    position: relative;
    margin: 5px;
    display: flex;
    justify-content: right;
    font-weight: bold;
    color: rgba(89, 128, 167, 0.829);
}