@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

$container-padding: 2rem;

$header-background: #385b7e;
$header-text: #fff;
$header-height: 4rem;
$header-fontsize: 1.75rem;
$header-border-radius: 20px;
$header-font-family: "Allerta Stencil";

$scrollbar-track: #fff;
$scrollbar-thumb: rgba(138, 136, 136, 0.08);
$scrollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-text: #999;
$item-text-strong: #000;
$item-padding: 0.75rem;
$item-edit-background: rgba(138, 136, 136, 0.08);
$item-edit-text: #666;
$item-edit-width: 2rem;

$menu-background: #385b7e;
$menu-text: #fff;
$menu-height: $header-height;
$menu-border-radius: 20px;


$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999;
$form-input-radius: 0.3rem;
$form-input-padding: 0.5rem;
$form-input-fontsize: 1.2rem;
$form-label-fontsize: 0.8rem;
$form-label-margin-bottom: 0.5rem;